Move CentralNic-managed SLDs into the "ICANN" section

We (@CentralNic) received a request from a prominent CA to move the second-level domains that we run as registries from the "private" section to the "ICANN" section. This is so that they can issue certificates to the registrants of these domains.

The domains were added to the PSL before the list was split into the "ICANN" and "private" sections, and I have never been able to work out the distinction between the two. Our domains are not like the other domains in the "private" section: they are delegated to the registrant's nameservers just like "normal" domains.

If moving them into the "ICANN" section is acceptable then I am happy to create a pull request that does so.

@gerv examples would be .de.com and .com.de.

> The distinction between ICANN and private is that to get a domain under .co.uk, you go to one of many ICANN-accredited registrars

That's not true. ICANN only accredits registrars for "generic" TLDs, ie .com, .info, .xyz etc (that is, TLDs with three or more characters). Country-code TLDs (two-character TLDs and their IDN equivalents) operate outside the ICANN framework, and accredit their own registrars according to their own rules. For example, Nominet (the .uk registry) has its own [registrar application process](http://registrars.nominet.uk/namespace/uk/managingyournominetaccount/applicationprocess) which is completely separate from the [ICANN registrar accreditation process](https://www.icann.org/resources/pages/accreditation-2012-02-25-en).

> To get a domain under eu.com, you have to go to CentralNic

That's not quite true either. Just like Nominet, we [accredit our own registrars](https://registrar-console.centralnic.com/pub/register), many of whom are also registrars for other ccTLD registries, and many of whom are also ICANN-accredited.

Our SLD domains are managed on exactly the same platform as the [ccTLDs and gTLDs we operate](https://manage.centralnic.com/support/dnssec), and are managed by registrars in the same way (via EPP). There is a [port-43 whois service](https://manage.centralnic.com/support/view_whois/) for them.

We don't operate these domains in the same way as (for example) Google operates `appspot.com`, where they publish a wildcard and direct all subdomains to their application platform. It is a [DNS delegation](http://dnsviz.net/d/room.eu.com/dnssec/) in the same way as [.com delegates example.com](http://dnsviz.net/d/example.com/dnssec/) or [.co.uk delegates example.co.uk](http://dnsviz.net/d/example.co.uk/dnssec/). We do DNSSEC and publish DS records for [signed child zones](http://dnsviz.net/d/paypal.uk.com/dnssec/).

> CAs should not be issuing a cert for *.co.uk to anyone, but are allowed to issue a cert for *.eu.com to you

CAs should probably not be allowed to issue a certificate to *us* for *.eu.com, because we neither own nor control the subdomains captured by that wildcard. We delegate them to many different third parties.

@sleevi:

> The core distinction between the ICANN and Private section, as a registrar, is whether or not the registry agreement or registry terms establish the SLDs. If they don't, and the SLDs are registered by the registrar and then further delegated by that registrar, then it belongs in the Private section.

I (perhaps naively) understood that the purpose behind the CA's use of the PSL was to ensure that they did not issue a certificate to the wrong entity - so that someone able to provide control of a subdomain could not obtain a certificate for a parent domain, but also so that the entity in control of the parent domain cannot obtain a certificate for a child zone, if control of that child zone has been delegated to a third party. Is it simply the case that the BRs consider the first scenario, but not the second?

I appreciate that we are an edge case! But it is an edge case with a few hundred thousand instances :)

@jodrell Whatever prominent CA told you that is likely wrong :)

In general, if the (cc,g)TLD doesn't have explicit terms establishing the secondary domains, then it belongs in the PRIVATE section. The ICANN section is (generally, if there are exceptions we should discuss because it's probably bugs) those gTLDs and ccTLDs that explicitly reserve via policy.

So using .uk as an example, Nominet is the designated operator of the .uk ccTLD, and Nominet has set aside those domains (well, did), so they belong in the ICANN section.

Verisign (the .com operator) has not set aside ar.com as part of its operation of the .com gTLD. As such, even though CentralNic manages/designates its own Registrars and such, it belongs in the PRIVATE section.

Does that help contextualize the difference?

@sleevi it does, thanks. However, I'm still not clear why the CA in question feels that it cannot issue certificates for domains in our registry. I will go back to them and ask for chapter and verse from the BRs.


@jodrell I'm sure if you invoke my name, such as "Ryan Sleevi at Google disagreed and would like to understand more" - you might find a quicker answer, especially if this CA participates in the CA/Browser Forum.

Happy to help answer any of (your CAs) questions on this matter, and more importantly, to see if there is an opportunity to improvement the Baseline Requirements in a way that can address and prevent such confusion in the future.

Actually I think I've found it. Version 1.4.2, Page 16:

> 3.2.2.6. Wildcard Domain Validation Before issuing a certificate with a wildcard character (\*) in a CN or subjectAltName of type DNS‐ID, the CA MUST establish and follow a documented procedure† that determines if the wildcard character occurs in the first label position to the left of a “registry‐controlled” label or “public suffix” (e.g. “\*.com”, “\*.co.uk”, see RFC 6454 Section 8.2 for further explanation).
> 
> If a wildcard would fall within the label immediately to the left of a registry‐controlled† or public suffix, CAs MUST refuse issuance unless the applicant proves its rightful control of the entire Domain Namespace. (e.g. CAs MUST NOT issue “\*.co.uk” or “\*.local”, but MAY issue “\*.example.com” to Example Co.). Prior to September 1, 2013, each CA MUST revoke any valid certificate that does not comply with this section of the Requirements. 
>
> Determination of what is “registry‐controlled” versus the registerable portion of a Country Code Top‐Level Domain Namespace is not standardized at the time of writing and is not a property of the DNS itself. Current best practice is to consult a “public suffix list” such as http://publicsuffix.org/ (PSL), and to retrieve a fresh copy regularly. **If using the PSL, a CA SHOULD consult the "ICANN DOMAINS" section only, not the "PRIVATE DOMAINS" section**.

This is in relation to Wildcard Domain Validation. As written, the BRs would allow @CentralNic to obtain a wildcard for (for example) *.uk.com and then MITM every subdomain. This is because our domains are in the private section not the ICANN section, so the wildcard does not "fall within the label immediately to the left of a registry‐controlled† or public suffix".

I note the SHOULD there, and the reference in the BRs to RDC 2119, so maybe the CA is being overly cautious. I will see what they say.

+1

This is the CA in this case as sleevi noted

On Jan 26, 2017 12:46, "sleevi" <notifications@github.com> wrote:

> @jodrell <https://github.com/jodrell> Whatever prominent CA told you that
> is likely wrong :)
>
> In general, if the (cc,g)TLD doesn't have explicit terms establishing the
> secondary domains, then it belongs in the PRIVATE section. The ICANN
> section is (generally, if there are exceptions we should discuss because
> it's probably bugs) those gTLDs and ccTLDs that explicitly reserve via
> policy.
>
> So using .uk as an example, Nominet is the designated operator of the .uk
> ccTLD, and Nominet has set aside those domains (well, did), so they belong
> in the ICANN section.
>
> Verisign (the .com operator) has not set aside ar.com as part of its
> operation of the .com gTLD. As such, even though CentralNic
> manages/designates its own Registrars and such, it belongs in the PRIVATE
> section.
>
> Does that help contextualize the difference?
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/publicsuffix/list/issues/381#issuecomment-275508616>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAUJpT7fDsXiJbFockHbJ4mnfZZY3hwwks5rWQYzgaJpZM4LjC4U>
> .
>


@jodrell This is correct, @CentralNic , by being in the `PRIVATE` section, can create MITM certs for all of `*.co.uk`. But this is also true even if they were in the `ICANN` section, because @CentralNic controls `co.uk` administratively and can demonstrate control of the entire namespace.

The importance of this clause was to allow services which _do_ want such wildcard certificates - and examples here are the set of domains by GitHub, Amazon, or Dropbox (for example) - which want the cookie and control separation, but which centrally host and manage the certificates - to obtain them. That is, for `*.appspot.com` (for example), all the domains are handled by Google, and the certificates provided by Google, and thus it's perfectly acceptable to have such a certificate.

Where I'm confused as to the issue the CA was encountering, which you noted originally as 
> This is so that they can issue certificates to the registrants of these domains.

The CA in question should be able to issue certificates to `foo.co.uk` regardless of whether `co.uk` is in the `ICANN` section or the `PRIVATE` section. That's where I'm trying to understand how the CA reached such a conclusion.

While it sounds like we don't need to make a change to the PSL itself, if you can help me understand what type of certificate you (or the customers) were trying to request, and were denied, we can try to figure out what sort of misunderstanding is happening.

Also, apologies if I botched the above discussing `co.uk` - the principles here apply to everything in the `PRIVATE` section. That is, the `PRIVATE` section doesn't imply that you are "not like ICANN" (such as Appspot, which is handling TLS) or that you "are like ICANN" (such as @CentralNic is, as you note) - just that it's not "delegated by ICANN gTLD contract or TLD registrar policy".